@media screen and (max-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    width: 960px;
  }
  .activ h1 {
    padding: 50px 0;
    padding-left: 50px;
    max-width: 910px;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
  .meta {
    gap: 40px;
  }
  .content {
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .container {
    width: 720px;
    padding-inline: 20px;
  }
  .main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .main-text {
    align-items: center;
    gap: 10px;
  }
  .main-text h1 {
    max-width: 400px;
    text-align: center;
  }
  .main-text p {
    max-width: 400px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
  }
  .people-1 {
    position: absolute;
    top: 0;
    left: 190px;
  }
  .people-2 {
    position: absolute;
    top: 100px;
    left: 0;
  }
  .people-3 {
    position: absolute;
    top: 70px;
    right: 0;
  }
  .main img {
    padding-block: 50px;
  }
  .meta {
    flex-direction: column;
  }
  .person a,
  h6 {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 540px;
    margin-inline: 20px;
  }
  .header nav {
    display: none;
  }
  .menu-outline {
    display: block;
    color: aliceblue;
  }
}

@media screen and (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .main {
    position: relative;
  }
  .main img {
    width: 100%;
    max-width: 250px;
    padding-block: 20px;
  }
  .main-btn button {
    padding: 8px 20px;
  }
  .meta-text {
    gap: 10px;
  }
  .meta-text p {
    line-height: 24px;
  }
  .meta-text button {
    margin-top: 15px;
  }
  .content-title {
    align-items: start;
  }
  .content {
    padding-block: 50px;
  }
  .content-title h1 {
    max-width: 300px;
  }
  .content-title p {
    text-align: start;
  }
  .people-1 {
    position: absolute;
    top: 0;
    left: 80px;
  }
  .people-2 {
    position: absolute;
    top: 70px;
    left: 10px;
  }
  .people-3 {
    position: absolute;
    top: 20px;
    right: 0;
  }
  .person h6,
  a {
    font-size: 13px;
  }
  .person a {
    font-size: 13px;
  }
  .person a,
  h6 {
    margin-bottom: 1px;
  }

  .activ h1 {
    text-align: center;
    font-size: 16px;
    padding: 5px 55px;
  }
  .footer {
    flex-wrap: wrap;
    gap: 15px;
  }
  .footer .container {
    width: 100%;
    max-width: 320px;
  }
  .footer p {
    padding-top: 10px;
  }
  .footer ul {
    font-size: 14px;
    padding-block: 20px;
  }
  .contact h5 {
    display: none;
  }
  .contact {
    gap: 5px;
    padding-block: 15px;
  }
  .contact img {
    width: 100%;
    max-width: 20px;
  }
  .contact a {
    max-width: 310px;
  }
}
